<?php

return [
    'dot_log' => [
        'loggers' => [
            //define log services here
            'stream_logger' => [
                'writers' => [
                    'name'    => 'stream',
                    'level'   => \Dot\Log\Logger::DEBUG,
                    'options' => [
                        'stream' => 'php://output',
                        'formatter' => [
                            'name' => 'MyFormatter',
                        ],
                        'filters' => [
                            [
                                'name' => 'MyFilter',
                            ],
                        ],
                        // optional key that can be omitted or set to null to disable auto-deletion of logs
                        // accepts an integer representing the number of days after which a log will be deleted
                        'log_lifetime' => null,
                    ],
                ],
            ],
        ],
    ],
];
