<?php

return [
    'dot_log' => [
        'loggers' => [
            //define log services here
            'stream_logger' => [
                'writers' => [
                    'name'    => 'stream',
                    'level'   => \Dot\Log\Logger::DEBUG,
                    'options' => [
                        'stream' => 'php://output',
                        'formatter' => [
                            'name' => 'MyFormatter',
                        ],
                        'filters' => [
                            [
                                'name' => 'MyFilter',
                            ],
                        ],
                    ],
                ],
            ],
        ],
    ],
];
